* {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: rgb(0, 0, 0);
    color:aliceblue;
}

h1 {
    color:rgb(32, 158, 18);
    text-align: center;
}

p {

}
